@using PagedList
@using PagedList.Mvc
@model IEnumerable<sql4.Models.report>
@{
    Layout = "~/Views/Shared/Admin_.cshtml";
}


@Styles.Render("~/Content/comPk.css")
@Styles.Render("~/Content/link.css")
@Styles.Render("~/Content/Pk.css")

@Styles.Render("~/Content/PagedList.css")

@Styles.Render("~/Content/list.css")

































<div class="page_name">

    <h3>Repots</h3>


</div>



<div class="columns">
    <div class="widecolumn">




        <nav class="breadcrumbs" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
            <span class="breadcrumb-first nohistory">
                <a href="" itemprop="url">
                    <i class="fonticon-home fonticon-size-large fonticon-vertical-fix fonticon-color-gray1"></i>
                </a>
            </span>

            <span itemprop="child" itemscope="">
                <i class="sprite_breadcrumbs_arrow"></i>
                <a href="" itemprop="url">
                    PAKSELL
                </a>
            </span>
        </nav>























        <section class="list_container">

            <nav class="nohistory">


                <a href="/Regester/user"
                    <span accesskey="a" class="first active list_tab">
                        <strong>Report Submitted</strong>
                    </span>
                </a>



            </nav>
        </section>

        <div class="list_box">
            <div class="list_options">
                <div class="sorting" style="padding:3px">



                    Action



                    <a id="sort_price" href="/ad?sort=2" title="Show cheapest first">
                    </a>


                </div>
            </div>

            <div id="list_item_thumbs">











                <div>

                    @foreach (var item in Model)
                    {

                        @Html.Partial("report_view", item)
                    }


                </div>


            </div>

        </div>
        <div class="pagination">






        </div>


    </div>
    <aside class="sidebar">


        <div class="side_box" style="height: 150px">
            <h3>Admin Panel</h3>
            <div class="side-content" id="side-content" style="display: block; position: absolute">
                <div style="float:left;">
                    <a id="sprite_about" class="sprite_about spritetext">

                    </a>
                </div>
                <div style="float:left">

                    <ul class="bullets">
                        <li class="list">


                            <a href="/Regester/user" title="Asani">
                                Register Users
                            </a>
                        </li>

                        <li class="list">


                            <a href="/Regester/Photo" title="Asani">
                                Upload Photo
                            </a>
                        </li>


                        <li class="list">


                            <a href="/Regester/admin">
                                Admin Panel
                            </a>


                        </li>
                        <li class="list">
                            <a href="/Regester/report">
                                View Reports
                            </a>
                        </li>

                    </ul>






                </div>
                <div id="likebtn" style="float:none; margin-left: 0px">

                    <iframe src="./For sale in Lahore   Asani.com.pk_files/like.htm" scrolling="no" frameborder="0" width="100px" height="20px"></iframe>
                </div>
            </div>
        </div>

</div>
    </aside>
</div>

