@model sql4.Models.Iuser

@{
    ViewBag.Title = "Create";
}
@{
    Layout = "~/Views/Shared/after login.cshtml";
}
<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>

        <div class="editor-label">
            @Html.LabelFor(model => model.Scat)
        </div>
        <div class="editor-field">

          

                @Html.DropDownGroupList("catagory", new List<GroupedSelectListItem>(){


          new GroupedSelectListItem() { Value="Cell Phones", Text="Cell Phones", GroupName="Electronics" },
          new GroupedSelectListItem() { Value="Refrigrator", Text="Refrigrator",GroupName="Electronics" } ,
           new GroupedSelectListItem() { Value="Home Appliences", Text="Home Aplliences",GroupName="Electronics" } ,
          new GroupedSelectListItem() { Value="Sofa", Text="Sofa", GroupName="Furniture",GroupKey="2" },
          new GroupedSelectListItem() { Value="Bed", Text="Bed", GroupName="Furniture",GroupKey="2" },
            new GroupedSelectListItem() { Value="Car", Text="Car", GroupName="AutoMobiles",GroupKey="3" },
              new GroupedSelectListItem() { Value="Bike", Text="Bike", GroupName="AutoMobiles",GroupKey="3" },
                   new GroupedSelectListItem() { Value="Horse", Text="Horse", GroupName="Animal",GroupKey="4" },
              new GroupedSelectListItem() { Value="Laptops", Text="Laptops", GroupName="Gadegts",GroupKey="5" },



       }, "-- Select Catagory --", new { @class = "category_group" })

           

        </div>



        <div class="editor-label">
            @Html.LabelFor(model => model.area)
        </div>
        <div class="editor-field">



                @Html.DropDownGroupList("Area", new List<GroupedSelectListItem>(){


          new GroupedSelectListItem() { Value="Lahore", Text="Lahore", GroupName="Punjab" },
          new GroupedSelectListItem() { Value="Islamabad", Text="Islamabad",GroupName="Punjab" } ,
           new GroupedSelectListItem() { Value="Gujrat", Text="Gujrat",GroupName="Punjab" } ,
          new GroupedSelectListItem() { Value="Peshawar", Text="Peshawar", GroupName="KPK",GroupKey="2" },
          new GroupedSelectListItem() { Value="Kohat", Text="Kohat", GroupName="KPK",GroupKey="2" },
            new GroupedSelectListItem() { Value="Karachi", Text="Karachi", GroupName="Sind",GroupKey="3" },
              new GroupedSelectListItem() { Value="Wehari", Text="Wehari", GroupName="Sind",GroupKey="3" },
               new GroupedSelectListItem() { Value="Quotta", Text="Quotta", GroupName="Blochistan",GroupKey="4" },
               new GroupedSelectListItem() { Value="Bimber", Text="Bimber", GroupName="Azad Kashmir",GroupKey="5" },




       }, "-- Select Area --", new { @class = "category_group" })

            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Sitem)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Sitem)
                @Html.ValidationMessageFor(model => model.Sitem)
            </div>

















            <div class="editor-label">
                @Html.LabelFor(model => model.Sphone)
            </div>



            <div class="editor-field">
                @Html.EditorFor(model => model.Sphone)
                @Html.ValidationMessageFor(model => model.Sphone)
            </div>

            <p>
                <input type="submit" value="Create" />
            </p>
</fieldset>
}

<div>
    <a href="/Regester/AfterLogin">BACK TO LIST</a></div>

    @Scripts.Render("~/bundles/jqueryval")

